In [ ]:
## list comprehensions

In [1]:
def even_numbers(start:int, finish:int):
    results = []
    for number in range(start,finish+1):
        if number % 2 == 0:
            results.append(number)
    return results

In [2]:
even_numbers(10,30)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [3]:
[ number for number in range(10,30) ]

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [4]:
[ number for number in range(10,30) if number%2 == 0 ]

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [5]:
start = 10
end = 30
[ number for number in range(start,end) if number%2 == 0 ]

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [ ]:
multiples = [ number  for number in range(10) if number%3 == 0 or number%5 == 0 ]

In [7]:
multiples

[0, 3, 5, 6, 9]

In [8]:
sum(multiples)

23

In [10]:
max = 1000
sum([ number  for number in range(max) if number%3 == 0 or number%5 == 0 ])

233168

In [11]:
numbers = list(range(1,11))

In [12]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
{ number ** 2 for number in numbers }

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [14]:
# let create a dictionary where key is number and value is its cube

cube_dict = { number: number ** 3 for number in range(1,11) }

In [15]:
cube_dict

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [17]:
superheros = [
    "Captain Thunder",
    "Shadow Viper",
    "Iron Sentinel",
    "Crimson Falcon",
    "Night Blaze",
    "Silver Specter",
    "Aqua Dynamo",
    "Solar Flare",
    "Phantom Mirage",
    "Quantum Hawk",
    "Blizzard Guardian",
    "Vortex Ranger",
    "Lunar Eclipse",
    "Emerald Archer",
    "Titanium Titan"
]

In [18]:
# get all the super heros who name starts with vowel

# Traditional
vowel_heros = []
for superhero in superheros:
    if superhero[0].lower() in "aeiou":
        vowel_heros.append(superhero)
print(vowel_heros)

['Iron Sentinel', 'Aqua Dynamo', 'Emerald Archer']

In [19]:
# get all the super heros who name starts with vowel

[ superhero for superhero in superheros if superhero[0].lower() in "aeiou" ]

['Iron Sentinel', 'Aqua Dynamo', 'Emerald Archer']